body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

}
.navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
    padding-left: 40px;
    margin: 0;


}

.brand img {
    width: 70px;
}

.navigation ul li {
    padding-left: 20px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #eee ;

    background-color: white ;

}
header .container {
    align-items: center;
    display: flex;
    padding: 10px;
}
.products {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 15px;
}
.products .products-item {
    width: calc(25% - 45px);
    background-color: white ;
    padding: 15px;

}
.products .products-item img{
    width: 100%;

}
.products .products-item .Price {
    font-weight: bold;
    font-size: 20px;
}
.products .products-item .Old-Price {
    text-decoration: line-through;
    margin-left: 15px;
    color: #aaa;

}
.products .products-item .Price-container {
    margin-top: 15px;
    display: flex;
    align-items: center;

}


a {
    text-decoration: none;
    color: black;
}
.navigation a:hover {
    color: darksalmon;
}

.products .products-item .card-icon {
    border: 3px solid blueviolet;
    width: 30%;
    float: right;
    padding: 3px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    background-color: lightskyblue;

}

.products .products-item .card-icon:hover {

    border: 3px solid lightskyblue;

}

main {
    padding-left: 0;
    margin-bottom: 30px;

}
footer .container {
    display: flex;
    justify-content: space-between;

}
footer {
    margin-top: 5px;
    padding: 5px;

    background-color: white;

}

@media screen  and (max-width: 768px) {
    .products .products-item{
        width: 75%;
    }
}

@media screen  and (max-width: 425px) {
    .products .products-item{
        width: 100%;
    }
}

.login {
    background-color: white;
    border: 3px solid blueviolet;
    width: 600px;
    height: 300px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 10px;

}
.input-form {
    text-align: center;
    margin-bottom: 20px;

}
.input-form input{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 3px solid lightskyblue;
    outline: none;

}
h1 {
    text-align: center;
}
.Button-input{
    padding: 15px;
}

.Button-input .Button-card {

    background-color: lightskyblue;
    width: 100px;
    height: 30px;
    border: 3px solid blueviolet;
    border-radius: 5px;
    font-weight: bold;
}
.Button-input .Button-card:hover {
    border: 3px solid lightskyblue;
}

.Button-reg .Button-card{
    background-color: lightskyblue;
    width: 150px;
    height: 30px;
    border: 3px solid blueviolet;
    border-radius: 5px;
    font-weight: bold;

}
.Button-reg .Button-card:hover {
    border: 3px solid lightskyblue;
}

.Button {

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: column-reverse;

}

.slider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider img{
    width: 100%;
    height: 300px;

}

.Reg {
    background-color: white;
    border: 3px solid blueviolet;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 10px;
}

.Top {
    padding-left: 30px;
    padding-top: 30px;

}

