body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;


}
.products .products-item .Name-Car {
    text-align: left;
}
.container .header-name {
    padding-left: 17px;
    margin-bottom: -15px;
    padding-top: 30px;
    padding-bottom: 27px;
    font-weight: inherit;
}
.container {
    max-width: 1400px;
    margin-bottom: -12px;
    margin-top: -16px;
}
header {
    border-bottom: 1px solid #eee ;
    background-color: white;
    display: flex;
    flex-direction: row;


}

.navigation img {
    border-radius: 71px;
    width: 43px;
    height: 44px;
    margin-left: 10px;
    padding: 4px;
}


.navigation {
    display: flex;
    margin-left: 100px
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.products .products-item {
    width: calc(25% - 45px);
    padding: 15px;
    border-radius: 10px;
    box-sizing: revert;
}

.products .products-item:hover{
    transform: scale(1.05);
}
.products .products-item img{
    width: 100%;
    border-radius: 5px;
    box-shadow:0 0 20px black;

}
.products .products-item .Price {
    font-weight: bold;
    font-size: 20px;
}
.Old-Price {
    text-decoration: line-through;
    margin-left: 15px;
    color: #aaa;
}
.products .products-item .mileage {
    color: #aaa;
}


.products .products-item .Price-container {
    margin-top: 15px;
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    color: black;
}

.products .products-item .card-icon {

    width: 45%;
    padding: 3px;
    background-color: powderblue;
    border: 2px solid powderblue;
    border-radius: 8px;
    font-weight: bold;


}

.products .products-item .card-icon-click {
    padding: 3px;
    border-radius: 8px;
    font-weight: bold;
    background-color: white;
    animation: color-change-buy 0.5s linear both;

}
.slider {
    box-shadow:0 2px 10px gray;
}
.products .products-item .Button-buy {
    text-align: right;
}


.products .products-item .card-icon:hover {
    animation: color-change 0.5s linear both;
}
@keyframes color-change-buy {
    from {
        background-color: #ff5c5c;
        border: 2px solid #ff5c5c;
        width: 100%;

    }
    50% {
        background-color: #fa7777;
        border: 2px solid #fa7777;
        width: 85%;
    }
    75% {
        background-color: #f6b9b9;
        border: 2px solid #f6b9b9;
        width: 70%;
    }
    to {
        background-color: blueviolet;
        border: 2px solid blueviolet;
        width: 45%;

    }
}
@keyframes color-change {
    from {
        background-color: powderblue;
        border: 2px solid powderblue;

    }
    50% {
        background-color: #f6b9b9;
        border: 2px solid #f6b9b9;
        width: 70%;

    }
    75% {
        background-color: #fa7777;
        border: 2px solid #fa7777;
        width: 85%;
    }
    to {
        background-color: #ff5c5c;
        border: 2px solid #ff5c5c;
        width: 100%;
    }
}



main {
    padding-left: 0;
    margin-bottom: 30px;


}
footer .container {
    display: flex;
    justify-content: space-between;
    color: white;

    font-size: 15px;
}
.contacts {
    display: flex;
    flex-direction: row;
}
.contacts img {
    width: 37px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.color-text {
    color: powderblue;
    font-weight: bold;
    font-size: 18px;
}

.pay-system {
    display: flex;
    flex-direction: row;
}
.pay-system img {
    margin-right: 10px;
}
footer {
    margin-top: 60px;
    padding: 30px;
    background-color: #26212a;

}



.login {
    background-color: white;
    box-shadow:0 0 7px #673091;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 10px;

}
.login .Name-login {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.input-form {
    text-align: center;
    margin-bottom: 20px;
}

.input-form input {
    width: 50%;
    padding: 4px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid skyblue;
    outline: none;

}
.input-form input:focus {
    box-shadow:0 0 3px #c01a1a;
    border: 2px solid #c01a1a;
}

.Button-input{
    padding: 15px;
}

.Button-input .Button-card {

    background-color: powderblue;
    width: 110px;
    height: 32px;
    border: 3px solid powderblue;
    border-radius: 9px;
    font-weight: bold;
}
.Button-input .Button-card:hover {
    border: 2px solid powderblue;
    box-shadow:0 0 15px skyblue;
}

.Button-reg .Button-card{
    background-color: powderblue;
    width: 210px;
    height: 32px;
    border: 3px solid powderblue;
    border-radius: 9px;
    font-weight: bold;

}
.Button-reg .Button-card:hover {
    border: 2px solid powderblue;
    box-shadow:0 0 15px skyblue;

}

.Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: column-reverse;
}
.registration .Name-registration {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.registration {
    background-color: white;
    width: 600px;
    height: 620px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 0 7px #673091;
}

.slider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider img{
    width: 100%;
    height: 300px;

}

.Name-Car {
    margin: 10px auto;
}

.error {
    text-align: center;
    margin-bottom: 10px;
    color: red;
    margin-top: 10px;
}

@media screen  and (max-width: 768px) {
    .products .products-item{
        width: 75%;
    }
    .products .products-item .card-icon {
        width: 30%;
    }
    .login {
        width: 75%;
    }

}

@media screen  and (max-width: 425px){
    .products .products-item {
        width: 100%;
    }

    .products .products-item .card-icon {
        width: 30%;
    }
    .login {
        width: 75%;
    }
}

.btn:hover {
    background-color: #501987;
    border-color: #501987;
}
.btn-outline-success {
    --bs-btn-color: #501987;
    --bs-btn-border-color: #501987;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #501987;
    --bs-btn-hover-border-color: #501987;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #501987;
    --bs-btn-active-border-color: #501987;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #501987;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #501987;
    --bs-gradient: none;
}
.container-fluid .Brand {
    padding-right: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.container-card {
    display: flex;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;

    align-items: center;

}
.name-card {
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.container-card img {
    max-width: 650px;
    border-radius: 10px;
    box-shadow:0 0 20px black;

}

.container-description {
    margin-left: 50px;
    padding: 30px;
    width: 35%;
    background-color: #f8f8f8;
    box-shadow:0 0 20px #eeeeee;
    border-radius: 10px;
    border: 5px solid #eeeeee;

}
.card-pay {
    text-align: center;

}
.card-button-pay {
    width: 400px;
    height: 40px;
    text-align: center;
    background-color: darkviolet;
    color: white;
    border: 2px solid darkviolet;
    border-radius: 8px;
    font-weight: bold;

}
.card-button-pay:hover {
    box-shadow: 0 0 10px darkviolet;

}
.card-button-delete {
    width: 400px;
    height: 40px;
    text-align: center;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 8px;
    font-weight: bold;
}
.card-button-delete:hover {
    box-shadow: 0 0 10px red;
}
.description {
    list-style: none;
    padding-left: 0;
}
.navigation h6 {
    margin-top: 10px;
}
.description li span{
    width: 50%;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 17px;
}
.description li span:first-child {
    text-align: left;
}
.description li span:last-child {
    text-align: right;
}
.container .block:hover {
    transform: scale(1.05);
}
.container .block {
    width: 1000px;

    border-radius: 10px;
    display: flex;
    text-align: center;

}
.button_basket .Old-Price {
    text-align: center;
}
.container .block img {
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    margin: 30px;
}
.block .card-button-pay {
    width: 500px;
}

.config_in_basket {
    text-align: center;
    padding: 10px;
}
.button_basket .name-card{
    font-size: 24px;
}

.button_basket .Price-container {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 5px;
    margin-left: 100px;
}
.card-delete {
    width: 400px;
    height: 40px;
    background-color: #a20453;
    color: white;
    border: 2px solid #a20453;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 10px;

}
.card-delete:hover {
    box-shadow: 0 0 10px #a20453;
}
.footer-description {
    margin: 30px;
    font-size: 10px;
    color: #c9c9c9;
}
.button {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 30px;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #1b2023;
    border: 1px solid white;
    color: white;

}
.button img {
    width: 35px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 10px;
}
.button:hover {
    background-color: red;
    border: 1px solid red;
}
.description-company {
    font-weight: 900;
    text-decoration: underline;
}
.About-name {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
